<head>
    <style> body { margin: 0; } </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="//unpkg.com/force-graph"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
  </head>
  
  <body>
    <div>
      <div class="row p-3 mb-2 bg-primary text-white">
        <h3>KEEP Graph Viewer Example</h1>
      </div>
    </div>
    <div class="row p-3 mb-2 bg-light">
      <div class="col-6">
        <button class="btn btn-primary" onClick=step()>Next Step</button>
       
      </div>
      <div class="col-2">
        <span>Current Step: <a id="steps">0</a></span>
      </div>
     


    </div>
    <div id="graph"></div>
    
  
    <script>
      var localData = {"nodes":[], "links":[]}


      function reset() {
        fetch('api/reset').then(res => res.json()).then(data => {
          localData['nodes'] = []
          localData['links'] = []
          document.getElementById("steps").innerHTML = 0;
          document.getElementById('blueScoreTotal').innerHTML = "0.0"
          document.getElementById('redScoreTotal').innerHTML = "0.0"
          document.getElementById("actionBlue").innerHTML = ""
          document.getElementById("actionRed").innerHTML = ""

          const elem = document.getElementById('graph');
          const Graph = ForceGraph()(elem)
            .graphData(localData)
            .height(600)
            .nodeId('id')
            .nodeVal('val')
            .nodeLabel('label')
            .linkColor(() => 'rgba(0,0,0,0.6)')
            .nodeAutoColorBy('group')
            .linkSource('source')
            .linkTarget('target')
            .nodeCanvasObjectMode(() => "after")
            .nodeCanvasObject(drawNode);
          });
      }

      const drawNode = (node, ctx) => {
        if (node.user_compromise || node.id === 'User0') {
          ctx.beginPath();
          ctx.arc(node.x, node.y, 6, 0, 2 * Math.PI, false);
          ctx.lineWidth = 2
          ctx.strokeStyle = "red"
          ctx.stroke();
        }
        if (node.crown_jewel) {
          ctx.beginPath();
          ctx.arc(node.x, node.y, 6, 0, 2 * Math.PI, false);
          ctx.lineWidth = 2
          ctx.strokeStyle = "blue"
          ctx.stroke();
        }
        let label = node.id
        const fontSize = 8
        ctx.font = `${fontSize}px "Montserrat", Helvetica, Arial, serif`
        const textWidth = ctx.measureText(label).width
        const bckgDimensions = [textWidth, fontSize].map(
          (n) => n + (fontSize * 0.5)
        ) // some padding

        // Node label
        ctx.textAlign = "center"
        ctx.textBaseline = "middle"
        //ctx.fillStyle = node.color
        ctx.fillStyle = "black"
        ctx.fillText(label, node.x, node.y)
      }

      function step() {
        var steps = parseInt(document.getElementById("steps").innerHTML)
        document.getElementById("steps").innerHTML = steps+1
        fetch('api/step').then(res => res.json()).then(newdata => {


          localData['nodes'] = newdata['nodes']
          localData['links'] = newdata['links']
          
          const elem = document.getElementById('graph');
          const Graph = ForceGraph()(elem)
            .graphData(localData)
            .height(600)
            .nodeId('id')
            .nodeVal('val')
            .nodeLabel('label')
            .linkColor(() => 'rgba(0,0,0,0.6)')
            .nodeAutoColorBy('group')
            .linkSource('source')
            .linkTarget('target')
            .nodeCanvasObjectMode(() => "after")
            .nodeCanvasObject(drawNode);
                });
        
      }
    </script>
  </body>